<form action="/stashes/<%= @stash.id %>" method="POST">
<input type="hidden" name="_method" value="patch">
<input type="text" name="stash[name]" value="<%=@stash.name%>"><br>
<%@stash.ingredients.each do |ingredient|%>
<input type="text" name="[ingredients][][name]" value="<%=ingredient.name%>"><br>
<input type="hidden" name="[ingredients][][id]" value="<%=ingredient.id%>"><br>
<%end%>
<input type="submit" value="Update stash">
</form>