<div class="container">
<form action="/stashes" method="post">


<div class="field">
 <label class="label is-medium">Cabinet name</label>
  <div class=control>
   <input class="input is-small" type="text" name="name" id="stash_name">
  </div>
</div>

<div class="field">
 <label class="label is-small" >Bottle 1:</label>
  <div class=control>
   <input class="input is-small" type="text" name="ingredients[][name]" id="ingredient_slot_1">
  </div>
</div>

<div class="field">
 <label class="label is-small">Bottle 2:</label>
  <div class=control>
   <input class="input is-small" type="text" name="ingredients[][name]" id="ingredient_slot_2">
  </div>
</div>

<div class="field">
 <label class="label is-small">Bottle 3:</label>
  <div class=control>
   <input class="input is-small" type="text" name="ingredients[][name]" id="ingredient_slot_3">
  </div>
</div>

<div class="field">
  <label class="label is-small">Bottle 4:</label>
   <div class=control>
    <input class="input is-small" type="text" name="ingredients[][name]" id="ingredient_slot_4">
  </div>
</div>

<div class="field">
 <label class="label is-small">Bottle 5:</label>
  <div class=control>
   <input class="input is-small" type="text" name="ingredients[][name]" id="ingredient_slot_5">
  </div>
</div>

  <button class="button is-black is-rounded" type="submit">Add Cabinet</button>
</form>
</div>
