<div class="container">
<div class="field">
<h1 class="title">Add a new cupboard ingredient stash</h1>
<form action="/stashes" method="post">
</div>

<div class="field">
 <label class="label is-medium">Stash Name</label>
  <div class=control>
   <input class="input is-small" type="text" name="name" id="stash_name">
  </div>
</div>

<div class="field">
 <label class="label is-small" >Ingredient 1:</label>
  <div class=control>
   <input class="input is-small" type="text" name="ingredients[][name]" id="ingredient_slot_1">
  </div>
</div>

<div class="field">
 <label class="label is-small">Ingredient 2:</label>
  <div class=control>
   <input class="input is-small" type="text" name="ingredients[][name]" id="ingredient_slot_2">
  </div>
</div>

<div class="field">
 <label class="label is-small">Ingredient 3:</label>
  <div class=control>
   <input class="input is-small" type="text" name="ingredients[][name]" id="ingredient_slot_3">
  </div>
</div>

<div class="field">
  <label class="label is-small">Ingredient 4:</label>
   <div class=control>
    <input class="input is-small" type="text" name="ingredients[][name]" id="ingredient_slot_4">
  </div>
</div>

<div class="field">
 <label class="label is-small">Ingredient 5:</label>
  <div class=control>
   <input class="input is-small" type="text" name="ingredients[][name]" id="ingredient_slot_5">
  </div>
</div>

  <button class="button is-black is-rounded" type="submit">Add Stash</button>
</form>
</div>
