<% @recipes.each do |recipe|%>
  <div class="card">
   <div class="card-content">
    <h2 class="title is-5"><%= recipe.name%></h2>
    <h3 class="title is-6">Description</h3>
    <p><%= recipe.description%></p><br>
    <h3 class="title is-6">Ingredients</h3>
    <p><%= recipe.ingredients%></p><br>
    <h3 class="title is-6">Method</h3>
    <p><%= recipe.method%></p><br>
    </div>
    </div>
    <%end%>