/* --- Welcome Page Styles --- */
@import "bulma";
@font-face {
  font-family: 'LibreBaskerville';
  src: url("https://fonts.googleapis.com/css?family=LibreBaskerville");
}

#fixed{
  display: block;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 30px;
  background-color: black;
  color: white;
}

.content{
  font-family: 'LibreBaskerville';
}

.login{
  margin: auto;
}


.card {
  display: inline-block;
 
  max-height: auto;
  max-width: auto;
  margin: 1px 10px 10px 1px;
}
/* input fields */
.input{
  max-width: 20%;
}






