<h1 class="title is-1">Hi <%=@user.username%></h1>
<h2 class="title is-2">Email: <%=@user.email%></h2>
<h2 class="title is-2">Favourite cocktail type: <%=@user.favourite_cocktail%></h2>

<a href="/account/<%=@user.id%>/edit">
<button class="button is-rounded is-black">Edit Account</button>
</a>
