<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  Invalid Username, please try again or sign up for an account
  <a href="/login">Login</a> 
  <a href="/signup">Sign Up</a>
</div>