<div class="login">
<div class="container">
<div class="columns">
<div class="column">
<h1 class="title">Login</h1>
<form  action="/login" method="POST">
 <div class="field">
  <label for="username" class="label">Username</label>
 <div class="control">
  <input class="input" placeholder="Username" type="text" name="username" value="" id="username_field"><br>
  </div>
 </div>

 <div class="field">
<label for="password" class="label">Password</label>
<div class ="control">
<input class="input" placeholder="Password" type="password" name="password" id="password_field"><br>
</div>
</div>
<div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me</label>
  </div>
<button class="button is-black is-rounded" type="submit">Log In</button>
</form>
</div>
</div>
</div>
</div>