<h2>Stash list </h2>
<% @stashes.each_with_index do |stash, index|%>
   <h3><%= index%>. <%=stash.name%></h3>
    <%stash.ingredients.each do |ingredient|%>

<p><%= ingredient.name%></p>
<%end%>
<a href="/stashes/<%= stash.id %>/edit">Edit stash </a>
<%end%>