<div>
<h1>Sign Up</h1>

<form action="/signup" method="POST">
<h3>Username</h3><br>
<input type="text" name="username" value="" id="username_field"><br>

<h3>Email/h3><br>
<input type="email" name="email" id="email"><br>

<h3>Password</h3><br>
<input type="password" name="password" id="password_field"><br>

<h3>Favourite cocktail types</h3><br>
<h4>Rich & creamy </h4>
<input type="radio" name="favourite_cocktail" value="rich_creamy" id="type_1"><br>
<h4>Bitter</h4>
<input type="radio" name="favourite_cocktail" value="bitter" id="type_2"><br>
<h4>Sour</h4>
<input type="radio" name="favourite_cocktail" value="sour" id="type_3"><br>
<h4>Sweet</h4>
<input type="radio" name="favourite_cocktail" value="sweet" id="type_4"><br>
<h4>Open to everything!</h4>
<input type="radio" name="favourite_cocktail" value="everything" id="type_5"><br>

<input type="submit" id="submit">


</form>
</div>