<div>
<h1>Sign Up</h1>

<form action="/signup" method="POST">
<h3>Username</h3><br>
<input type="text" name="username" value="" id="username_field"><br>

<h3>Password</h3><br>
<input type="password" name="password" id="password_field"><br>

<h3>Favourite cocktail types</h3><br>
<h4>Rich & creamy </h4>
<input type="radio" name="type_1" id="type_1"><br>
<h4>Bitter</h4>
<input type="radio" name="type_2" id="type_2"><br>
<h4>Sour</h4>
<input type="radio" name="type_3" id="type_3"><br>
<h4>Sweet</h4>
<input type="radio" name="type_4" id="type_4"><br>
<h4>Open to everything!</h4>
<input type="radio" name="type_5" id="type_5"><br>

<input type="submit" id="submit">


</form>
</div>