<div class="container">
 <div class="field">
  <form class="" action="/signup" method="POST"> 
   <h1 class="title">Sign Up</h1>
 </div>
   
   <div class="field">
    <label class= "label is-small">Username</label>
     <div class="control">
      <input class="input is-small" type="text" name="username" value="" id="username_field"><br>
     </div>
    </div>

     <div class="field">
      <label class="label is-small">Email</label>
       <div class="control has-icons-left">
        <input class="input is-small" type="email" name="email" id="email"><br>
          <span class="icon is-small is-left">
           <i class="fas fa-envelope"></i>
          </span>
       </div>
     <div>

    <div class="field">
     <label class="label is-small">Password</label>
     <div class="control">
      <input class="input is-small" type="password" name="password" id="password_field"><br>
     </div>
    </div>

  <div class="field">
   <label class="label is-small">Favourite cocktail types</label>
    <div class="control">
     <label class="radio">
      <input  type="radio" name="favourite_cocktail" value="rich_creamy" id="type_1">Rich & creamy 
     </label>
     <label class="radio">
       <input  type="radio" name="favourite_cocktail" value="bitter" id="type_2">Bitter
     </label>
     <label class="radio">
      <input  type="radio" name="favourite_cocktail" value="sour" id="type_3">Sour
     </label>
     <label class="radio">
      <input  type="radio" name="favourite_cocktail" value="sweet" id="type_4">Sweet
     </label>
     <label class="radio">
      <input  type="radio" name="favourite_cocktail" value="everything" id="type_5">Open to everything!
     </label>
    </div>
 </div>



  <button class="button is-black is-rounded" type="submit">Sign Up</button>


  </form>
</div>